extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='add')
      #form-group
        label Event_id :
        input.form-control(name='event_id_pk', type='text')
      br
      #form-group
        label Name :
        input.form-control(name='event_name', type='text')
      br
      #form-group
        label Description :
        textarea.form-control(name='event_description', row='3')
      br
      #form-group
        label DateTime :
        input.form-control(type='text', data-field='datetime',name='event_date', readonly='')
      #dtbox
      script(type='text/javascript').
          $('#dtbox').DateTimePicker({
            dateTimeFormat: "yyyy-MM-dd hh:mm:ss"
          });
      br
      #form-group
        label Duration :
        input.form-control(name='event_duration', type='text')
      br
      #form-group
        label Group_id :
        input.form-control(name='group_id_fk', type='text')
      br
      #form-group
        label Member_id :
        input.form-control(name='member_id', type='text')
      br
      input.btn.btn-primary(type='submit',value='Add')
    br
    br