extends ../layout

block content
  br
  br
  if delete_msg
    center
      h4= delete_msg
  if update_msg
    center
      h4= update_msg
  if error_msg
    center
      h4= error_msg
  br
  br
  form.form-inline(method='POST', action='events/search')
    input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search' name='event_id_pk')
    button.btn.btn-outline-success.my-sm-0(type='submit') Search By Id
  br
  .container-fluid
  if events
    .table-responsive
      table.table.table-bordered.table-sm
        thead.thead-dark
          tr
            each column_value, column_name in events[0]
              th(scope='col')= column_name
            th(scope='col')
        tbody
          each event in events
            tr
              each column_value in event
                td(scope='col')= column_value
              td(scope='col')
                a(href='/events/delete/'+event.event_id_pk)
                  button.btn.btn-primary(type='button') Delete
                  | #{'  '}
                a(href='/events/update/'+event.event_id_pk)
                  button.btn.btn-primary(type='button') Update
  //- logic for pagination
  //- Previous button only appear when pagestart - 10 is greater than zero
  //- When previous button will be clicked pageStart will be current (pageStart - 10) to show previous 10 pages
  //- and page displaying page would be the first page of 10 pages and that would also be (pageStart - 10)
  //- same logic is applied to display buttons of next 10 pages and if no of pages to display is less then 10 then
  //- button of will not be displayed
  if (pageStart - 10) > 0
    a#pl(href='events?pageStart='+(pageStart - 10)+'&page='+(pageStart - 10))
      button.btn.btn-primary#p(type='button')
        span(aria-hidden='true') «
    | #{' '}
  -for(page = pageStart; page <= lastPage; page++){
    a(href='events?pageStart='+pageStart+'&page='+page)
      button.btn.btn-primary(type='button')= page
    | #{' '}
  -}
  if lastPage > 9
    a#nl(href='events?pageStart='+(pageStart + 10)+'&page='+(pageStart + 10), aria-label='Next')
      button.btn.btn-primary#n(type='button')
        span(aria-hidden='true') »
