extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='')
      #form-group
        label Event_id :
        input.form-control(name='event_id_pk', type='text' value=event.event_id_pk)
      br
      #form-group
        label Name :
        input.form-control(name='event_name', type='text' value=event.event_name)
      br
      #form-group
        label Description :
        textarea.form-control(name='event_description', row='4')= event.event_description
      br
      #form-group
        label DateTime :
        input.form-control(type='text', data-field='datetime',name='event_date', readonly='' value=event.event_date)
      #dtbox
      script(type='text/javascript').
          $('#dtbox').DateTimePicker({
            dateTimeFormat: "yyyy-MM-dd hh:mm:ss"
          });
      br
      #form-group
        label Duration :
        input.form-control(name='event_duration', type='text' value=event.event_duration)
      br
      #form-group
        label Group_id :
        input.form-control(name='group_id_fk', type='text' value=event.group_id_fk)
      br
      #form-group
        label Member_id :
        input.form-control(name='member_id', type='text' value=event.member_id)
      br
      input.btn.btn-primary(type='submit',value='Update')
    br
    br