extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='add')
      #form-group
        label Member_id :
        input.form-control(name='member_id_pk', type='text')
      br
      #form-group
        label First name :
        input.form-control(name='member_name', type='text')
      br
      #form-group
        label Email id :
        input.form-control(name='member_email_id', type='email')
      br
      #form-group
        label Phone no :
        input.form-control(name='member_phone_no', type='text')
      br
      #form-group
        label Address :
        textarea.form-control(name='member_address', rows='3')
      br
      #form-group
        label State :
        input.form-control(name='member_state', type='text')
      br
      #form-group
        label County :
        input.form-control(name='member_country', type='text')
      br
      #form-group
        label Zip code :
        input.form-control(name='member_zip_code', type='text')
      br
      br
      input.btn.btn-primary(type='submit',value='Add')
    br
    br
