extends ../layout

block content
  h1= title
  br
  .container
  if member
    .table-responsive
      table.table.table-bordered.table-sm
        thead.thead-dark
          tr
            each column_value, column_name in member
              th(scope='col')= column_name
        tbody
          tr
            each column_value, column_name in member
              td(scope='col')= column_value
            td(scope='col')
              a(href='/members/delete/'+member.member_id_pk)
                button.btn.btn-primary(type='button') Delete
                | #{'  '}
              a(href='/members/update/'+member.member_id_pk)
                button.btn.btn-primary(type='button') Update
  if message
    h3= message
