extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='')
      #form-group
        label Member_id :
        input.form-control(name='member_id_pk', type='text' value=member.member_id_pk)
      br
      #form-group
        label First name :
        input.form-control(name='member_name', type='text' value=member.member_name)
      br
      #form-group
        label Email id :
        input.form-control(name='member_email_id', type='email' value=member.member_email_id)
      br
      #form-group
        label Phone no :
        input.form-control(name='member_phone_no', type='text' value=member.member_phone_no)
      br
      #form-group
        label Address :
        textarea.form-control(name='member_address', rows='3')= member.member_address
      br
      #form-group
        label State :
        input.form-control(name='member_state', type='text' value=member.member_state)
      br
      #form-group
        label County :
        input.form-control(name='member_country', type='text' value=member.member_country)
      br
      #form-group
        label Zip code :
        input.form-control(name='member_zip_code', type='text' value=member.member_zip_code)
      br
      br
      input.btn.btn-primary(type='submit',value='Update')
    br
    br