doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bower_components/datetimepicker/dist/DateTimePicker.css')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/datetimepicker/dist/DateTimePicker.js')
    script(src='/bower_components/datetimepicker/dist/i18n/DateTimePicker-i18n.js')
    script(src='/bower_components/datatables.net/js/jquery.dataTables.min.js')

  body
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    a.navbar-brand(href='/index') CRUD
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Add
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/members/add') Member
            a.dropdown-item(href='/groups/add') Group
            a.dropdown-item(href='/events/add') Event
            a.dropdown-item(href='/categories/add') Category
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | View
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/members') Member
            a.dropdown-item(href='/groups') Group
            a.dropdown-item(href='/events') Event
            a.dropdown-item(href='/categories') Category
      a.nav-link(href='/user/login')
        | Login
        span.sr-only
      a.nav-link(href='/user/signup')
        | Sign up
        span.sr-only

  block content




