extends layout

block content

  br
  br
  .container
    .container
    center
      h2= message
    <form method='POST'>
      <div class="form-group">
        <label for="email">Display Name</label>
        <input type="text" class="form-control" id="email"  placeholder="Enter name" name="member_name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>