extends ../layout

block content
  br
  br
  .container
    h4= JSON.stringify(message)
  br
  br
  .container
    form(method='POST', action='add')
      #form-group
        label Group_id :
        input.form-control(name='group_id_pk', type='text')
      br
      #form-group
        label Name :
        input.form-control(name='group_name', type='text')
      br
      #form-group
        label No. of Members :
        input.form-control(name='group_members', type='text')
      br
      #form-group
        label Type :
        input.form-control(name='group_type', type='text')
      br
      #form-group
        label Category_id :
        input.form-control(name='category_id_fk', type='text')
      br
      #form-group
        label Description :
        textarea.form-control(name='group_description', rows='3')
      br
      input.btn.btn-primary(type='submit',value='Add')
    br
    br