extends ../layout

block content
  h1= title
  br
  .container
  if group
    .table-responsive
      table.table.table-bordered.table-sm
        thead.thead-dark
          tr
            each column_value, column_name in group
              th(scope='col')= column_name
        tbody
          tr
            each column_value, column_name in group
              td(scope='col')= column_value
            td(scope='col')
              a(href='/groups/delete/'+group.group_id_pk)
                button.btn.btn-primary(type='button') Delete
                | #{'  '}
              a(href='/groups/update/'+group.group_id_pk)
                button.btn.btn-primary(type='button') Update
  if message
    h3= message