extends ../layout

block content
  h1= title
  br
  br
  .container
    h4= JSON.stringify(message)
    br
    br
    form(method='POST', action='')
      #form-group
        label Category_id :
        input.form-control(name='category_id_pk', type='text' value=category.category_id_pk)
      br
      #form-group
        label Category_name :
        input.form-control(name='category_name', type='text' value=category.category_name)
      br
      input.btn.btn-primary(type='submit',value='Update')
    br
    br
